# Applying Naive Bayes on a dummy dataset

In [2]:
#importing the required libraries
import pandas as pd
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [3]:
#loading the dataset
df=pd.read_csv(r"K:\Semester-4\Datasets\Project-9_Dataset.csv")

In [4]:
#the first five rows 
df.head()

    Weather  Temp Play
0     Sunny   Hot   No
1     Sunny   Hot   No
2  Overcast   Hot  Yes
3     Rainy  Mild  Yes
4     Rainy  Cool  Yes

In [5]:
#basic information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Weather  14 non-null     object
 1   Temp     14 non-null     object
 2   Play     14 non-null     object
dtypes: object(3)
memory usage: 464.0+ bytes

In [6]:
#statistical description of data
df.describe()

       Weather  Temp Play
count       14    14   14
unique       3     3    2
top      Sunny  Mild  Yes
freq         5     6    9

In [7]:
#checking for null values
df.isnull().sum()

Weather    0
Temp       0
Play       0
dtype: int64

In [8]:
#since the data is of categorical datatype, we use label encoding to transform the data into numerical datatype
labelencoder=preprocessing.LabelEncoder()
df_encoded=df.apply(labelencoder.fit_transform)

In [9]:
df_encoded

    Weather  Temp  Play
0         2     1     0
1         2     1     0
2         0     1     1
3         1     2     1
4         1     0     1
5         1     0     0
6         0     0     1
7         2     2     0
8         2     0     1
9         1     2     1
10        2     2     1
11        0     2     1
12        0     1     1
13        1     2     0

In [10]:
#using zip function to create a list of tuples.
fea=list(zip(df_encoded['Weather'],df_encoded['Temp']))
fea

[(2, 1),
 (2, 1),
 (0, 1),
 (1, 2),
 (1, 0),
 (1, 0),
 (0, 0),
 (2, 2),
 (2, 0),
 (1, 2),
 (2, 2),
 (0, 2),
 (0, 1),
 (1, 2)]

In [11]:
#the final! applying the machine learning model to the data
model = GaussianNB()
model.fit(fea,df_encoded['Play'])

GaussianNB()

In [13]:
#the prediction score of this model 
model.score(fea,df_encoded['Play'])

0.7142857142857143